extends layouts/main

block content  
   .form-container
        form(action=routes.editVideo(video.id), method="post")
            //맙소사.. name을 Title이라고 했더니, DB에 저장이 안되는 오류가 났다. 대소문자 조심.
            input(type="text", name="title", placeholder="Title", value=video.title)
            //- textarea(name="title", placeholder="Title")=video.title 
            textarea(name="description", placeholder="Description")=video.description
            input(type="submit", value="Update Video")
        a.form-container__link(href=routes.deleteVideo(video.id))
            button.delete Delete Video
        //- a.form-container__link.form-container__link--delete(href=`/videos${routes.deleteVideo}`) Delete Video
