//- mixin 각각 다른 정보를 가지지만 
//- 같은 구조를 가지는 데이터를 표시하기 위한 코드를 
//- 캡슐화함. 

mixin videoBlock(video={})
    //- h1=video.title
    //- p=video.description
    .videoBlock
        a(href=routes.videoDetail(video.id))
            //- amazon으로 서버 옮기면서 삭제 
            //- video.videoBlock__thumbnail(src=`/${video.videoFile}`, controls=true, autoplay=false)
            video.videoBlock__thumbnail(src=video.videoFile, controls=true, autoplay=false) 
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.videoBlock__views 1 view
            else
                h6.videoBlock__views #{video.views} views